<form class="form-inline my-2 my-lg-0">
    <!--Here is where we search for the movies, an important function need to be added here-->
    <input type="search" (keyup.enter)="searchMovies(key.value)" #key="ngModel" ngModel
     name="key" id="searchTitle" class="form-control mr-sm-2" placeholder="Search movies..." required>
</form>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Erro!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Não foi possível encontrar o título inserido.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>